### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
#What are the columns in teh data file
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
playerCountTotal = purchase_data_df['SN'].nunique()
playerCountTotal

576

In [4]:
#Make sure set has no duplicates using nunique and return count, display in a dataframe
playerCountTotal_df = pd.DataFrame({'Total Players' : [playerCountTotal]})
playerCountTotal_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Unique Items
itemsTotal = purchase_data_df['Item ID'].nunique()
itemsTotal

179

In [6]:
#Average Price
itemsAvgPrice = purchase_data_df['Price'].mean()
itemsAvgPrice

3.0509871794871795

In [7]:
#Number Purchases
itemsNumberPurchases = purchase_data_df['Purchase ID'].nunique()
itemsNumberPurchases

780

In [8]:
itemsTotalRevenue = purchase_data_df['Price'].sum()
itemsTotalRevenue

2379.77

In [9]:
#Summary Table
#Not able to get this format working 'Average Price' : [purchase_data_df['Mean'].astype(float).map("${:,.0f}".format)],
#hosted_in_us_df["average_donation"] = hosted_in_us_df["average_donation"].astype(float).map("${:,.2f}".format)
purchase_summary_df = pd.DataFrame({'Total Players' : [playerCountTotal],
                                    'Average Price' : [itemsAvgPrice],
                                   'Number Purchases' : [itemsNumberPurchases],
                                   'Total Revenue' : [itemsTotalRevenue]})
purchase_summary_df

   Total Players  Average Price  Number Purchases  Total Revenue
0            576       3.050987               780        2379.77

In [10]:
#Make it pretty
purchase_summary_df['Average Price'] = purchase_summary_df['Average Price'].astype(float).map("${:,.2f}".format)
purchase_summary_df['Total Revenue'] = purchase_summary_df['Total Revenue'].astype(float).map("${:,.2f}".format)
purchase_summary_df

   Total Players Average Price  Number Purchases Total Revenue
0            576         $3.05               780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#clean data of nulls 
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [12]:
cleaned_purchase_data_df = purchase_data_df.dropna(how='all')
cleaned_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
#clean data of duplicates to get accurate count of only gender and players
gender_purchase_data_df = cleaned_purchase_data_df.loc[:, ['SN','Gender']]
gender_purchase_data_df.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [14]:
gender_purchase_data_df.drop_duplicates(inplace = True)
genderSummary_df = pd.DataFrame(gender_purchase_data_df['Gender'].value_counts())
genderSummary_df

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [15]:
#Rename column
genderSummary_df = genderSummary_df.rename(columns={'Gender': 'Total Count'})
genderSummary_df

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11

In [16]:
#Calc and display percentage
gender_total_people = genderSummary_df.sum()
genderSummary_df['Percentage'] = genderSummary_df/gender_total_people*100
genderSummary_df

                       Total Count  Percentage
Male                           484   84.027778
Female                          81   14.062500
Other / Non-Disclosed           11    1.909722

In [17]:
#Make it pretty
genderSummary_df['Percentage'] = genderSummary_df['Percentage'].astype(float).map("{:,.2f}%".format)
genderSummary_df

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#Need to rename, and it's not working...?
genderPurchaseCount = purchase_data_df.loc[:,['Purchase ID', 'Gender']]
#genderPurchaseCount.rename(columns={'Purchase ID': ['Total Purchases'], 'Gender' : 'Gender'})
#print(genderPurchaseCount.columns)
genderPurchaseCount.groupby('Gender').count()

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [19]:
#Average purchase price by gender is all purchases averaged and grouped by Gender
genderPurchaseAvgPrice = purchase_data_df.loc[:,['Price', 'Gender']]
genderPurchaseAvgPrice = genderPurchaseAvgPrice.groupby('Gender').mean()
genderPurchaseAvgPrice

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [20]:
#Average purchase per person is sum purchase prices for each person divided by the number of purchases they made
#Need to get sum of transactions per person, and count each
print(gender_purchase_data_df.columns)

Index(['SN', 'Gender'], dtype='object')

In [21]:
genderNumberPurPerPerson = purchase_data_df.groupby('SN')
genderNumberPurPerPerson = genderNumberPurPerPerson.count()
genderNumberPurPerPerson

               Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Adairialis76             1    1       1        1          1      1
Adastirin33              1    1       1        1          1      1
Aeda94                   1    1       1        1          1      1
Aela59                   1    1       1        1          1      1
Aelaria33                1    1       1        1          1      1
...                    ...  ...     ...      ...        ...    ...
Yathecal82               3    3       3        3          3      3
Yathedeu43               2    2       2        2          2      2
Yoishirrala98            1    1       1        1          1      1
Zhisrisu83               2    2       2        2          2      2
Zontibe81                3    3       3        3          3      3

[576 rows x 6 columns]

In [22]:
genderTotPurPerson = purchase_data_df.groupby('SN')
genderTotPurPerson = genderTotPurPerson['Price'].sum()
genderTotPurPerson

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [23]:
gender_purchase_data_df_merged = pd.merge(gender_purchase_data_df,genderNumberPurPerPerson, on='SN')
gender_purchase_data_df_merged = pd.merge(gender_purchase_data_df_merged, genderTotPurPerson, on= 'SN')
gender_purchase_data_df_merged.head()

,SN,Gender_x,Purchase ID,Age,Gender_y,Item ID,Item Name,Price_x,Price_y
0,Lisim78,Male,3,3,3,3,3,3,10.02
1,Lisovynya38,Male,1,1,1,1,1,1,1.56
2,Ithergue48,Male,1,1,1,1,1,1,4.88
3,Chamassasya86,Male,1,1,1,1,1,1,3.27
4,Iskosia90,Male,1,1,1,1,1,1,1.44

In [24]:
genderPurchaseAvgTot = gender_purchase_data_df_merged.groupby('Gender_x')
genderPurchaseAvgTot = genderPurchaseAvgTot['Price_y'].mean()
genderPurchaseAvgTot

Gender_x
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price_y, dtype: float64

In [25]:
#add calcs to summary
genderSummary_df['Avg Price']=genderPurchaseAvgPrice
genderSummary_df.head()

                       Total Count Percentage  Avg Price
Male                           484     84.03%   3.017853
Female                          81     14.06%   3.203009
Other / Non-Disclosed           11      1.91%   3.346000

In [26]:
genderSummary_df['Avg Total']=genderPurchaseAvgTot
genderSummary_df.head()

                       Total Count Percentage  Avg Price  Avg Total
Male                           484     84.03%   3.017853   4.065372
Female                          81     14.06%   3.203009   4.468395
Other / Non-Disclosed           11      1.91%   3.346000   4.562727

In [27]:
#Make it purdy
genderSummary_df['Avg Price'] = genderSummary_df['Avg Price'].astype(float).map("${:,.2f}".format)
genderSummary_df['Avg Total'] = genderSummary_df['Avg Total'].astype(float).map("${:,.2f}".format)
genderSummary_df

                       Total Count Percentage Avg Price Avg Total
Male                           484     84.03%     $3.02     $4.07
Female                          81     14.06%     $3.20     $4.47
Other / Non-Disclosed           11      1.91%     $3.35     $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
#Create bins and labels
ageBins = [0,10,14,19,24,29,34,39,40]
ageBinLabels = ['<10', '10-14','15-19','20-24','25-29','30-34','35-39','40+']
pd.cut(purchase_data_df['Age'],ageBins,labels=ageBinLabels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [29]:
#Add a column to the the main import df with brackets
purchase_data_df['Age Bracket'] = pd.cut(purchase_data_df['Age'],ageBins,labels=ageBinLabels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [31]:
#New df for age analysis
agePurchase_df = purchase_data_df.loc[:,['Purchase ID','Age','Age Bracket','Price']]

#Df for count of age brackets
agePurchase_df = agePurchase_df.sort_index()
agePurchaseBracketCount = agePurchase_df.groupby('Age Bracket')
agePurchaseBracketCount = agePurchaseBracketCount.count()
agePurchaseBracketCount = agePurchaseBracketCount.rename(columns={'Purchase ID': 'Total Count'})
del agePurchaseBracketCount['Age']
del agePurchaseBracketCount['Price']
agePurchaseBracketCount

             Total Count
Age Bracket
<10                   32
10-14                 19
15-19                136
20-24                365
25-29                101
30-34                 73
35-39                 41
40+                    6

In [ ]:
#Df for percentage
#gender_total_people = genderSummary_df.sum()
#genderSummary_df['Percentage'] = genderSummary_df/gender_total_people*100
#genderSummary_df
#Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person

agePurchaseBracketPercent = agePurchase_df.groupby('Age Bracket')
agePurchaseBracketPercent = agePurchaseBracketPercent.count()/agePurchaseBracketPercent.sum()*100
agePurchaseBracketPercent

In [ ]:
ageSummary_df = pd.merge(agePurchaseBracketCount,agePurchaseBracketPercent, on='Age Bracket')
ageSummary_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame